@tailwind base;
@tailwind components;
@tailwind utilities;

.extension-frame {
    all: initial;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
}

.overlay-frame {
    all: initial; /* Resets all styles */
    display: flex; /* Ensures the element is displayed */
    justify-content: center; /* Centers the image horizontally */
    align-items: center; /* Centers the image vertically */
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    z-index: 1000; /* Make sure it appears above other elements */
    visibility: visible; /* Ensure it's visible */
}

#selection-button {
    width: 56px; /* Explicit width */
    height: 56px; /* Explicit height */
    border: none; /* Remove any border styles */
    margin: 0; /* Reset margin */
    padding: 0; /* Reset padding */
    box-sizing: border-box; /* Use border-box sizing */
    display: flex; /* Ensure correct alignment */
    align-items: center;
    justify-content: center;
    border-radius: 50%; /* Ensure circular shape */
    background-color: #ccc; /* Default background color */
    position: fixed; /* Ensure it's fixed in place */
    bottom: 16px; /* Distance from bottom */
    right: 16px; /* Distance from right */
    z-index: 9999; /* Ensure it's on top of other elements */
    cursor: pointer; /* Pointer cursor for interactivity */
  }