/* styles.css */
.try-on-button {
    all:unset;

    display: inline-block;
    padding: 10px 15px;
    font-size: 14px;
    font-weight: bold;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
.try-on-button:hover {
background-color: #0056b3;
}
  